<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body bgcolor="white" style="color:black;font-family:Verdana">
#home page
<table align="center">
    <tr>
        <td align="center" width="150" height="50">
            <a href="/users/list" title="go to users page"><button class="ui-button"
            style="height: complex;width: auto;background-color: darkolivegreen;border: 0;color: white"><b><big>HOME</big></b></button></a>
        </td>
    </tr>
</table>

</body>
</html>